/* Import Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Color */
:root {
    --primary-color: #663399;
    --secondary-color: #808080;
    --white-color: #ffffff;
    --green-color: #2ecc71;
    --yellow-color: #f1c40f;
    --red-color: #dc143c;
}

/* Text */
.title-h1 {
    font-size: 36px;
}

.subtitle-p {
    font-size: 15px;
}